footer {
    background-color: #eeeeee;
    margin-top: 100px;
}

footer a, footer a:hover {
    color: #000;
}

.footer-links {
    list-style-type: none;
}

.footer-links li {
    margin: 0.5rem auto;
}

.footer-heading {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.footer-end {
    background-color: #000;
}